.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  max-width: 300px;
  max-height: 300px;
}

.container-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.genres {
  text-align: center;
}

.header {
  text-align: right;
  padding: 10px;
  font-size: 2ch;
}

.link-home {
  padding: 5px;
  color: #3cb371 
}

.link-about {
  padding: 5px;
  color: #3cb371 
}

.main {
  background-color: #696969;
  border-top: 3px solid black;
}

.header {
  background-color: #708090;
}

.body {
  background-color: #708090;
}

.genre-card {
  border: 3px solid black;
  padding: 10px;
  margin: 10px;
  min-height: 320px;
  background-color: #708090;
  text-align: center;
}

.genre-button-wrapper {
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.genre-button {
  font-size: 1.7ch;
  font-weight: bold;
  background-color: #282c34;
  color: white;
  border: 2px solid black;
}

.img-wrapper{
  margin: 0;
}