.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  height: 100%;
  width: 100%
}

.container-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.genres {
  text-align: center;
}

.header {
  text-align: center;
  padding: 10px;
  font-size: 2ch;
}

.link-home {
  padding: 5px;
  color: white;
  font-weight: bold;
}

.link-about {
  padding: 5px;
  color: white;
  font-weight: bold;
}

.main {
  background-color: #FFFFFF;
  border-top: 3px solid black;
}

.title-wrap {
  font-size: 2.5ch;
  color: #FFFFFF;
  text-shadow: 1px 1px 2px black, 0 0 25px #242333, 0 0 5px #01B0D3;
}

.header {
  background-color: #708090;
}

.body {
  background-color: #242333;
}

.genre-card {
  padding: 10px;
  margin: 10px;
  max-width: 350px;
  max-height: 400px;
  background-color: #242333;
  text-align: center;
  box-shadow: 3px 3px #01B0D3;
}

.genre-button-wrapper {
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.genre-button {
  font-size: 1.7ch;
  font-weight: bold;
  background-color: #01B0D3;
  color: white;
  border: 2px solid black;
}

.img-wrapper{
  margin: 0;
}

.form-box {
  background-color: white;
  text-align: center;
  margin-top: 10px;
  padding-top: 50px;
}

.form {
  display: grid;
  align-items: center;
  justify-content: center;
}